
.container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    color: #721c24;
    margin: 1rem;
    padding: 1rem;
}


.header {
    background-color: #282c34;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button_block, .info_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}

button {
    width: 100px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.item_comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
}

.item {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}

span {
    color: #282C34FF;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}
.span_dark {
color: darkblue
}
p {

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
